# Optional: used if installation parameters are not set on the app
# (Contentful UI → Your app → App definition → App settings → Parameters)
VITE_CONTENTFUL_APP_DEFINITION_ID=
VITE_CONTENTFUL_APP_ACTION_REMOVE_LINKS_ID=


